.myProfileDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20em;
    font-family: 'Poppins';
}
.boxDesign {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputTitle {
    margin: 0.5em;
}

