.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em;
    font-family: 'Poppins';
}
.reviewCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding: 1em;
}
.linkToWeb{
    background-color: #d1baf4;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
}