
.headerDesign{
    height: 10vh;
    background-color: #f8f1ee;
    color: #e34300;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}

.hoomanLink {
    font-family: "Lobster";
    font-size: 1.5em;
    cursor: pointer;
}
.barRestLink {
    margin-left: 1em;
    font-family: "Poppins-Bold";
    font-size: 0.9em;
    margin-top: 0.5em;
    cursor: pointer;
}
.hoomanLink:hover, .barRestLink:hoveR {
    transition: 0.3s;
    color: black;
}
.submitLink{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: "Poppins-Bold";
    font-size: 0.9em;
    cursor: pointer;
    margin-top: -2.85em;
    margin-right: 1em;
}
.favoritesLink {
    margin-right: 0.2em;
    font-size: 2em;
    margin-top: -0.35em;
    cursor: pointer;
}
.profileLink {
    cursor: pointer;
}
.favoritesLink:hover, .profileLink:hover{
    transition: 0.3s;
    color: black;
}