.profileDesign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    margin-bottom: 20em;
    font-family: 'Poppins';
}
.boxText {
    background-color: white;
    width: 20em;
    height: 2.5em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 0.5em;
}
.boxText:hover {
    background-color: #d1baf4;
    color: white;
}