.localsDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}
.points {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: 'Poppins';
}
.point {
    padding: 1em;
    margin-left: 1em;
}
.locals {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    margin-left: 1em;
}
.localCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17em;
    margin: 1em;
    padding: 1.5em;
    font-family: 'Poppins';
}
.searchingBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}