.localsDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filterPoints {
    display: flex;
    justify-content: center;

}
.text {
    margin-right: 1em;
}

.locals {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    margin-left: 1em;
}
.localCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17em;
    margin: 1em;
    padding: 1.5em;
}