#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f8f1ee;
}
@font-face {
  font-family: "Poppins-Light-Italic";
  src: url(../src/fonts/Poppins-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(../src/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../src/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Lobster";
  src: url(../src/fonts/Lobster-Regular.ttf);
}

.title{
  font-family: "Lobster";
  color: #e34300;
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.titleRest{
  font-family: "Lobster";
  color: #e34300;
  font-size: 3em;
  margin-bottom: 1em;
}
.button{
  height: 2.5em;
  width: 10em;
  background-color: #e34300;
  color: white;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  cursor: pointer;
  font-family: 'Poppins';
}
.button:hover {
  transition: 0.3s;
  color: black;
}
.buttonTwo{
  height: 2.5em;
  width: 10em;
  background-color: #d1baf4;
  color: white;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  cursor: pointer;
  font-family: 'Poppins';
}
.buttonTwo:hover {
  transition: 0.3s;
  color: black;
}
.buttonCard{
  height: 2em;
  width: 5.5em;
  background-color: white;
  color: #e34300;
  border: solid 0.01em #e34300;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 1em;
}
.buttonCard:hover {
  transition: 0.3s;
  background-color: #e34300;
  color: white;
}
.input{
  width: 20em;
  height: 2.5em;
  border-radius: 0.5em;
  border: solid black 0.1em;
}
.errorInput {
  color: red;
  border: 0.1em solid red;
  margin-top: 0.1em;
  
}
.errorText {
  color: red;
  font-size: 0.9em;
}
.link{
  margin-left: 0.5em;
  color: #e34300;
  font-weight: bold;
  cursor: pointer;
}
.link:hover{
  transition: 0.3s;
  color: black;
}
.userSub{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text{
  margin-top: 0.5em;
}
.linkTo{
  display: flex;
  margin: 1em;
}
