
.hoomanTitleHome{
    font-family: "Lobster";
    color: #e34300;
    font-size: 7em;
}
.homePic{
    height: 26em;
    margin-top: 2em;
    margin-bottom: 11em;
}
.banner{
    display: flex;
    margin-left: -21em;
    margin-bottom: 3em;
}

.titleScroll1{
    font-family: "Lobster";
    font-size: 3em;
    color: #e34300;
    margin-bottom: 1em;

}
.gifOne {
     height: 28em;
     width: 20em;
     opacity: 80%;
     z-index: 0;
}
.samoyedoImg {
    height: 15em;
    opacity: 99%;
    z-index: 2;
    margin-left: -15.3em;
}
.textImg {
    height: 28em;
    margin-left: -3em;
}
.subtitleHome{
    color: #e34300;
    cursor: pointer;
    margin-top: 2em;
}
.subtitleHome:hover{
    transition: 0.3s;
    color: black;
}
.line{
    height: 0.1em;
    width: 200vw;
    background-color: #e34300;
    margin-bottom: 5em;
    margin-left: -20em;
}
.ndTitle{
    font-family: "Lobster";
    font-size: 4em;
    margin-bottom: 3em;
}
.bannerTwo{
    display: flex;
    margin-left: -21em;
    position: relative;
    z-index: 0;
    margin-top: -17em;
}
.localForm {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.boxLinkTo {
    background-color: #d1baf4;
    height: 30em;
    width: 30em;
    border-radius: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
}
.formHome {
    margin-bottom: 7em;
}
.formHomeTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 3em;
}
.linkToForm {
    color: white;
    font-family: 'Lobster';
    font-size: 3em;
    position: relative;
    z-index: 1;
}
.buttonFormHome {
    position: relative;
    z-index: 1;
    background-color: white;
    color: #e34300;
    height: 3em;
    width: 7em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    margin-top: 2em;
    cursor: pointer;
}
.buttonFormHome:Hover {
    transition: 0.3em;
    background-color: #d1baf4;
    color: #e34300;
}