.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em;
    font-family: 'Poppins';
}
.companyCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    margin: 2em;
    padding: 1.5em;
    font-family: 'Poppins';
}